#root {
    width: 100%;
    height: 100vh; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0.5rem;
}